Repository Kreyren/workspace-images, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gitpod/maintainers, @kreyren, @gitpod/gitpod-maintainers

.github/CODEOWNERS:

# Reference to configuration - https://github.blog/2017-07-06-introducing-code-owners/
# Relevant https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This file is used to set permission per team or user to allow auto-merging

# Maintainers
*   @gitpod/maintainers

# Docker maintainers
/dockerfiles/   @kreyren
/scripts/ @kreyren
/CHANGELOG.md @kreyren

# Shell maintainers
*.sh @kreyren

# Bash maintainers
*.bash @kreyren

# Gitpod maintainers
.gitpod.yml   @gitpod/gitpod-maintainers
/gitpod/   @gitpod/gitpod-maintainers

# README.md owners
README.md @kreyren

BYyG6Grvv1
  Makefile
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @gitpod/maintainers, @kreyren

GNiQyaq7nn
  Makefile
  temporary.Dockerfile
Owners: @gitpod/maintainers

wIdnzFtUws
  temporary.Dockerfile
Owners: @gitpod/maintainers

WXOhb4Gesm
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

NWOgO4e0ug
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

hkLHaEk3do
  Makefile
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @gitpod/maintainers, @kreyren

kh1fIQQovi
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

R83n3PqJKU
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

iEnt0sbqnr
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

r38wUaiFDT
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

OyiS0fNuPa
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

mR7uzi6obX
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

gP2Mt4CKFA
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

sgQQmUmIlM
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

o8M51YBZmg
  dockerfiles/core/scripts/thealer.bash
  temporary.Dockerfile
Owners: @kreyren, @gitpod/maintainers

osoSBw3NWh
  Makefile
  temporary.Dockerfile
Owners: @gitpod/maintainers
